

.DS_Store
__pycache__
.pytest-cache


.env
google-credentials.json
google-credentials-*.json


exports/*.csv
exports/*/*.png
exports/*/*/*.png
exports/*/*.html
exports/*/*/*.html
exports/*/*.csv
exports/*/*/*.csv


flask_session
flask_session/*
