

.DS_Store
__pycache__
.pytest-cache


.env
google-credentials.json
google-credentials-*.json


data/*.csv

# FOR NOW, until we verify the redaction on these pages:
test/mock_dmap_pages/*.mhtml
test/mock_dmap_pages/*.html

exports/*.csv
exports/*/*.png
exports/*/*/*.png
exports/*/*.html
exports/*/*/*.html
exports/*/*.csv
exports/*/*/*.csv


flask_session
flask_session/*
