
# APP

python-dotenv # 0.20.0

selenium==4.11.2

beautifulsoup4 # ==4.11.1

pandas # 1.4.2


# WEB APP

flask==2.2.2
#Jinja2==3.1.2
#jinja-partials
Flask-Session # https://flask-session.readthedocs.io/en/latest/
# ImportError: cannot import name 'url_quote' from 'werkzeug.urls' (/app/.heroku/python/lib/python3.11/site-packages/werkzeug/urls.py)
# set to fix on heroku (installed 3.0.1 by default):
Werkzeug==2.2.2


# for production server:
gunicorn
