{% extends "bootstrap_5_layout.html" %}
{% set active_page = "login" %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='google-login.css') }}">
{% endblock %}

{% block content %}

    <div class="container" style="max-width: 350px;">
        <h1>Login</h1>

        <p class="mb-3">Login with your Google Account for access to additional features, such as exporting courses to Google Sheets.</p>

        <div class="d-grid gap-2">
            <a href="/login/redirect" class="google-login-button btn btn-block position-relative">
                <span class="google-login-button-wrapper position-absolute top-50 start-0 translate-middle-y">
                    <img class="google-logo" src="{{ url_for('static', filename='rainbow-g-logo.svg') }}" alt="Rainbow G Logo">
                </span>

                <span class="google-login-button-text">Login with Google</span>
            </a>
        </div>
    </div>

{% endblock %}
